{% extends "base.html" %}
{% block content %}
<div class="menu-section">
    <h2>Here is Our Complete Food Menu</h2>
    <div class="menu-grid">
        <div class="menu-item">
            <img src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682453597/images/tuybldhckaf0nnmtv1hb.png" alt="Food Item 1">
            <h3>Grilled Plantian And Groundnut</h3>
            <p>Grilled plantain with groundnut: smoky, sweet, crunchy, nutty, savory, wholesome, flavorful.</p>
        </div>
        <div class="menu-item">
            <img src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682453597/images/qxkfk5barowdyv3r06bb.png" alt="Food Item 2">
            <h3>Classic Yam And Beans</h3>
            <p>Yam and beans: hearty, starchy, protein-rich, savory, filling, traditional, wholesome, tasty.</p>
        </div>
        <div class="menu-item">
            <img src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682453595/images/vzteredjmjmc8zzfzjyo.png" alt="Food Item 3">
            <h3>Plantain And Stew</h3>
            <p>sweet, soft, savory, colorful, flavorful, comforting, traditional, tender, rich, satisfying.</p>
        </div>
        <div class="menu-item">
            <img src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682453596/images/itpzxvhjckvhp4pgdswy.png" alt="Food Item 4">
            <h3>Akara</h3>
            <p>crispy, golden, savory, protein-rich, fried, fluffy, spicy, traditional, tasty, snackable.</p>
        </div>
        <div class="menu-item">
            <img src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682453595/images/ehxevlvsvnmrsdbf97pz.png" alt="Food Item 5">
            <h3>KIlishi</h3>
            <p>spicy, dried, jerky, savory, protein-rich, chewy, smoky, traditional, flavorful, snack.</p>
        </div>
        <div class="menu-item">
            <img src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682435275/f7mkyhr5ddxvym06k7yl.png" alt="Food Item 6">
            <h3>Akanshawa</h3>
            <p>sweet, chewy, sticky, nutty, traditional, dessert, flavorful, rich, textured, indulgent.</p>
        </div>
    </div>
    <div class="menu-cta">
          <a href="{% url 'booking_create' %}" class="book-btn">Book Now!</a>
    </div>
</div>


{% endblock %}




