{% extends "base.html" %}
{% block content %}
<div class="menu-section">
    <h2>Here is Our Complete Food Menu</h2>
    <div class="container my-5">
  <div class="row g-4">
    <!-- Menu Item 1 -->
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card h-100 shadow-sm">
        <img src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682453597/images/tuybldhckaf0nnmtv1hb.png" 
             class="card-img-top" alt="Food Item 1">
        <div class="card-body">
          <h5 class="card-title">Grilled Plantain And Groundnut</h5>
          <p class="card-text">Grilled plantain with groundnut: smoky, sweet, crunchy, nutty, savory, wholesome, flavorful.</p>
        </div>
      </div>
    </div>

    <!-- Menu Item 2 -->
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card h-100 shadow-sm">
        <img src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682453597/images/qxkfk5barowdyv3r06bb.png" 
             class="card-img-top" alt="Food Item 2">
        <div class="card-body">
          <h5 class="card-title">Classic Yam And Beans</h5>
          <p class="card-text">Yam and beans: hearty, starchy, protein-rich, savory, filling, traditional, wholesome, tasty.</p>
        </div>
      </div>
    </div>

    <!-- Menu Item 3 -->
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card h-100 shadow-sm">
        <img src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682453595/images/vzteredjmjmc8zzfzjyo.png" 
             class="card-img-top" alt="Food Item 3">
        <div class="card-body">
          <h5 class="card-title">Plantain And Stew</h5>
          <p class="card-text">Sweet, soft, savory, colorful, flavorful, comforting, traditional, tender, rich, satisfying.</p>
        </div>
      </div>
    </div>

    <!-- Menu Item 4 -->
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card h-100 shadow-sm">
        <img src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682453596/images/itpzxvhjckvhp4pgdswy.png" 
             class="card-img-top" alt="Food Item 4">
        <div class="card-body">
          <h5 class="card-title">Akara</h5>
          <p class="card-text">Crispy, golden, savory, protein-rich, fried, fluffy, spicy, traditional, tasty, snackable.</p>
        </div>
      </div>
    </div>

    <!-- Menu Item 5 -->
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card h-100 shadow-sm">
        <img src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682453595/images/ehxevlvsvnmrsdbf97pz.png" 
             class="card-img-top" alt="Food Item 5">
        <div class="card-body">
          <h5 class="card-title">Kilishi</h5>
          <p class="card-text">Spicy, dried, jerky, savory, protein-rich, chewy, smoky, traditional, flavorful, snack.</p>
        </div>
      </div>
    </div>

    <!-- Menu Item 6 -->
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card h-100 shadow-sm">
        <img src="https://res.cloudinary.com/dmpcp1fbi/image/upload/v1682435275/f7mkyhr5ddxvym06k7yl.png" 
             class="card-img-top" alt="Food Item 6">
        <div class="card-body">
          <h5 class="card-title">Akanshawa</h5>
          <p class="card-text">Sweet, chewy, sticky, nutty, traditional, dessert, flavorful, rich, textured, indulgent.</p>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="menu-cta">
          <a href="{% url 'booking_create' %}" class="book-btn">Book Now!</a>
    </div>
</div>


{% endblock %}




